/* COLOR THEME https://color.adobe.com/Flat-UI-color-theme-2469224/edit/?copy=true 

  #2C3E50 dblue
  #E74C3C red
  #FF5442 lighter red for hover
  #ECF0F1 white
  #3498DB lblue
  #2980B9 mblue 
  #141C24 blackblue
  
*/

$prim-color: #2C3E50;
$sec-color: #2980B9;
$highlight-color: #3498DB;
$btn-color: #E74C3C;
$btn-highlight: #FF5442;
$bg-color: #141C24;
$txt-color: #141C24;
$white: #ECF0F1;