.char-display-container {
	
	@include card;
	
	padding: 0 10px 10px 10px;
	width:80%;
	
	.char-title {
	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-end;
	margin: 20px 0 10px;

		.char-name {
			margin:0;
			color: $black;
		}
		.char-class {
			font-size: 18px;
			margin: 0;
			color: $black;
		}
	}

	.char-sheet {
		
	}

}
