.char-display-container {
    @include card;
    background-color: $white;
    padding: 0;
    width: 100%;
    
    // border-top: 7px solid $sec-color;
	// border-bottom: 3px solid $sec-color;
	overflow: hidden;
    .sub-title.char-title {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
		align-items: flex-end;
        
        .char-name {
            margin: 0;
            color: $white;
        }
        .char-class {
            font-size: 18px;
            margin: 0;
            color: $white;
        }
    }
    .char-sheet {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	.char-hp {
		padding: 0;
	}
	.stat-num {
		display: inline-block;
		border: 2px solid $grey;
		padding: 3px 5px;
		background-color: $sec-color;
		color: $white;
	}
}