.char-display-container {
    @include card;
    // background-color: $white;
    padding: 0;
    width: 100%;
	overflow: hidden;
    .sub-title.char-title {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
		align-items: flex-end;
        
        .char-name {
            margin: 0;
            color: $white;
        }
        .char-class {
            font-size: 18px;
            margin: 0;
            color: $white;
            margin-left: 5px;
        }
        .class-icon {
            width: 100px; 
            height: auto;
        }
    }
    .sub-title.char-title div {
        display: flex;
        align-items: center;
    }
    .char-sheet {
		display: flex;
		justify-content: space-around;
        align-items: center;
        
	}
	.char-hp {
        padding: 0;
        display: flex;
        align-items: center;
        margin: 0 8px;
	}
	
}
.stat-name {
    margin: 20px 8px;
}
.stat-num {
    display: inline-block;
    border: 2px solid $grey;
    padding: 3px 5px;
    background-color: $sec-color;
    color: $white;
    text-align: center;
    font-size: 24px;
    height: 42px;
    width: 42px;
}
.life-icon {
    width: 50px;
    height: 50px;
    margin-right: 8px;
}