.footer {
	padding: 40px;
	// background: linear-gradient($grey-highlight, $grey-push);
	background-color: $grey;
	text-align: center;
	display: flex;
	flex-direction: column;
}
.footer-font {
	font-family: 'Marcellus SC', 'Open Sans', Helvetica, arial, sans-serif;
	color: $white;
	font-size: 22px;
}
