//color themes

    // https://images.google.com/imgres?imgurl=https%3A%2F%2Fdesignmodo.com%2Fwp-content%2Fuploads%2F2013%2F08%2FSpade.jpg&imgrefurl=https%3A%2F%2Fdesignmodo.com%2Fwebsites-urban-landscapes%2F&docid=N9L6J_XPQn97RM&tbnid=gJx85MVMKa0RmM%3A&vet=1&w=600&h=359&source=sh%2Fx%2Fim
    // bright red   #F70302
    // dark red     #A20000
    // white        #f7f7f7 
    // dark bluegrey #1F262E
    // less dark bluegrey #27313B


    // $prim-color: #1e8c9a;
    // $sec-color: #34bfc6;

    // $btn-color: #F06060;
    // $btn-highlight: #FF6F6F;
    // $btn-press: #df4f4f;
    // $btn-border-color: #9E2C2D;
    
    // $row-color: #bbb;
    // $dropdown-color: #aaa;

    // $bg-color: #1e8c9a;
    // $black: #020d0e;
    // $white: #ECF0F1;
    // $border-color: #777;
    // $off-white: #d1d1d1;


// text colors
$prim-color: #1F262E;
$sec-color: #27313B;

// Encounters card
  // yellow border
  $encounter-box-color: #fed07b;
  //darker yellow border
  $encounter-box-border-color:#b0762a;
  // 
  $char-box-color: #f9e6c5;
  $input-color: #b2b2b2;

$btn-color: #F70302;
$btn-highlight: #FF2524;
$btn-press: #B21010;
$btn-border-color: #A20000;

// $row-color: #bbb;
// $border-color: #777;
// $dropdown-color: #aaa;

$row-color: #f7f7f7;
$border-color: #27313B;
$dropdown-color: #aaa;

$bg-color: #1F262E;
$black: #020d0e;
$white: #f7f7f7;
$grey: #27313B;
// #414850 bluish grey original
// #4B3F3E reddish grey
// #260101 dark red
// #0A6BAA complimentary to btn red
// #b1740f brownish
// #ffd07b yellowish
// #60503a cooler brown
// #967d5b lighter brown
$grey-highlight: #575E66;
$grey-push: #383F47;



$off-white: #e7e7e7;

@import url("https://fonts.googleapis.com/css?family=Open+Sans|Marcellus+SC|Germania+One|Averia+Serif+Libre|UnifrakturCook:700");

// @font-face {
//     font-family: 'Luminari';
//     src: local('Luminari'), url('../fonts/Luminari.ttf') format('truetype');
//     font-weight: normal;
//     font-style: normal;
//   }
/* |Lobster|Lobster+Two   font-family: 'Lobster', 'Lobster Two', 'Satisfy', 'Open Sans'; */

// MIXINS //////////////////////////////

@mixin card{
    
    padding: 20px 25px;
    width: 100%;
}

// VARIABLES ///////////////////////////
$radius: 50px;

$header-font-stack: 
'Germania One','Open Sans', Helvetica, arial, serif;

$body-font-stack: 'Averia Serif Libre','Open Sans', Helvetica, arial,
sans-serif;

// FALLBACKS //////////////////////////
* {
    box-sizing: border-box;
    outline: none;
}

body {
    // background: url('https://www.toptal.com/designers/subtlepatterns/patterns/binding_dark.png') #0D0D0D repeat;
    // background-color: $white;
    font-family: $body-font-stack;
    
}
a {
    text-decoration: none;
}
h1,h2 {
    font-family: $header-font-stack;
    color: $black;
    // letter-spacing: 1px;
}
h2, h3, h4, h5 .footer-font {
    font-family: 'Averia Serif Libre','Marcellus SC', 'Open Sans', Helvetica, arial, sans-serif;
}
div, p, ul, li, a, button, span, input {
    font-family: $body-font-stack;
    color: $black;
}
.title {
    font-size: 32px;
    font-weight: 800;
    margin: 0;
    display: inline-block;
    color: $white;
}
.view-title {
    display: none;
    font-family: $header-font-stack;
    font-weight: 800;
    text-align: center;
    font-size: 34px;
    margin-top:0;
    color: $white;
}
.page-title {
    color: $white;
    margin-left: 15px;
    font-size: 28px;
}
.sub-title {
    color: $white;
    background: linear-gradient(45deg, $sec-color, $prim-color);
    padding: 15px 20px;
    margin-top: 0;
    border-bottom: 10px solid $prim-color;
}
input, textarea {
    padding: 2px 4px 2px 6px;
    border: $border-color;
} 
// MAIN STYLES USED EVERYWHERE //////////

.page {
    padding: 60px 20px 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
    // background-color: $off-white;
}
.card {
    @include card;
    background-color: $off-white;
    border: 1px solid #777;
}
.block-card {
    margin-bottom: 20px;
    background-color: $white;
    position: relative;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.block-card:before, .block-card:after
{
	content:"";
    position: absolute;
    z-index:-1;
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    border-radius:100px / 10px;
}
.block-card:after
{
	right:10px;
    left:auto;
    transform:skew(8deg) rotate(3deg);
}
    
    h3 {
        margin: 0;
        padding-left: 20px;
        font-size: 26px;
    }

.block-card-inner {
    padding: 20px;
}

// BUTTONS /////////////////////////////////////////////
.text-link {
    color: $white;
    border-bottom: 2px solid $btn-color;
    display: inline-block;
}
.text-link:hover, .text-link:focus {
    color: $btn-color;
    border-bottom: 2px solid $btn-highlight;
}

.btn {
    border-radius: $radius;
    border: none;
    color: $white;
    background-color: $btn-color;
    padding: 5px 15px;
    box-shadow: 0 5px 0 0 $btn-border-color;
    max-width: 500px;
    display: inline-block;
    margin: 20px 0;
}
.btn:hover {
    background-color: $btn-highlight;
    color: #fff;
}
.btn:active {
    background-color: $btn-highlight;
    position: relative;
    top: 4px;
    box-shadow: 0 1px 0 0 $btn-border-color;
}
.select-btn {
    width: 20%;
    color: $black;
    border-top-left-radius: 0;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 50px;
    border:none;
    background-color: $white;
    box-shadow: 0 5px 0 0 #2E353D;
    height: 30px;
    display:inline-block;
}
.select-btn:hover {
    background-color: #fff;
    color: #fff;
}
.select-btn:active {
    position: relative;
    top: 4px;
    box-shadow: 0 1px 0 0 $border-color;
}
.base-input {
    border: 1px solid #ccc;
    box-shadow: 5px 5px 0 0 $black;
}
 .to-top {
    margin: 0px 0;
    text-align: center;
}
.to-top .btn { 
    width: 80%;
    max-width: 300px;
}

.hide-mobile {
    display: inherit !important;
}
.hide-desktop {
    display: none !important;
}

#heart {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 30px;
    
}
#heart:before,
#heart:after {
    position: absolute;
    content: "";
    left: 10px;
    top: 0px;
    width: 25px;
    height: 40px;
    background: $btn-color;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}
#heart:after {
    left: -15px;
    transform: rotate(45deg);
    transform-origin :100% 100%;
}
.video-bg { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
 background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}
.white {
    color: $white;
}
.full {
    width: 100%;
}
.side-arrow {
    color: $btn-color;
    display: inline-block;
    margin-right: 20px;
    transition: all .8s;
}
.down-arrow {
    color: $btn-highlight;
    display: inline-block;
    margin-right: 15px;
    transform: rotate(90deg);
    transition: all .8s;
}
.arrow-icon {
    width: 20px;
    height: 20px;
}

::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: $btn-color;
}