.menu{

padding: 10px 20px 0 20px;
height: 65px;
margin-bottom: 20px;
display: flex;
justify-content: space-between;
align-items: center;
	.logo-container {
		width: 100%;
		display: flex;
		align-items: center;

		.logo-box {
			background-color: #fff;
			border-radius: 15px;
			padding: 5px;
			display: inline-block;
			margin-right: 10px;
			border: 1px solid $prim-color;


			.logo-icon {
				width: 30px;
				height: 30px;
				

			}
		}
		
	}
	.menu-btn {
		background-color: $white;
		font-family: $header-font-stack;
		border: 1px solid $encounter-box-color;
		border-radius: $radius;
		color: $black;
	}
	.tavern-btn {

	}
	.tavern-btn:hover {
		border-bottom: 1px solid $btn-color;
	}
	.tavern-btn:active {
		
	}
	.tavern-icon {
		width: 50px;
		height: auto;
		
		padding-bottom: 5px;
	}


}