.menu{
// background-color: $grey;
// background-color: rgba(0,0,0,0.2);
padding: 0px 20px 0 20px;
margin-top: 20px;
height: 65px;
display: flex;
justify-content: space-between;
align-items: center;
	.logo-container {
		width: 100%;
		display: flex;
		align-items: center;

		.logo-box {
			background-color: #fff;
			border-radius: 15px;
			padding: 5px;
			display: inline-block;
			margin-right: 10px;
			border: 1px solid $prim-color;


			.logo-icon {
				width: 30px;
				height: 30px;
				

			}
		}
		
	}
	nav {
		display: flex;
		align-items: center;
	}
	.nav-item {
		color: $white;
		font-family: $body-font-stack;
		margin-right: 15px;
		border-bottom: 1px solid transparent;
	}
	.nav-item:hover, .nav-item:active {
		border-bottom: 1px solid $btn-color;
	}
	.nav-item:nth-last-child(1){
		margin-right: 0;
	}
	.menu-btn {
		background-color: $white;
		font-family: $header-font-stack;
		border: 1px solid $encounter-box-color;
		border-radius: $radius;
		color: $black;
	}
	.tavern-icon {
		width: 50px;
		height: auto;
		
		padding-bottom: 5px;
	}


}


