.creator_container{
    margin: auto;
    width: 100%;
    margin: auto;
    min-height: 90vh;
    display: flex;
    flex-direction: row;
    background: white;
}
.encounters_display_container{
    flex-grow: 1;
    width: 100%;
    
    
    .creator-encounter-display{
        display: flex;
        flex-direction: column;
        width: 300px;
        margin: 20px;

        .creator-options{
            margin: 15px 0 15px 35px;
         }
    }
}
.creator_display_container{
    flex-grow: 3;
    width: 75%;
    padding: 20px;

    .story-creator-img{
        height: 250px;
        width: 300px;
        border: 1px solid black;
        img{
            height: 100%;
            width: 100%;
        }
    }
}


