.story-creator {
    
    .block-card {
        width: 100%;
    }
    .block-card-inner {
       
    }
    .creator_container {
        width: 100%;
        display: flex;
        // flex-wrap: wrap;
    }
    
    .encounters_display_container {
        flex-grow: 1;
        width: 100%;
        margin-right: 20px;
        border-right: 3px solid $grey;
        
        .save-first-encounter-btn {
            padding: 50px;
        }
        .creator-encounter-display {
            display: flex;
            flex-direction: column;
           
            margin: 20px 0;
            .creator-options {
                margin: 10px 0 10px 0px;
            }
        }
    }
    .creator_display_container {
        flex-grow: 3;
        width: 100%;
        border-left: 3px solid $grey;
        .story-creator-img {
            max-height: 250px;
            max-width: 300px;
            border: 1px solid black;
            img {
                height: 100%;
                width: 100%;
            }
            margin-bottom: 20px;
        }
    }
    .add-another-encounter-btn {
       
    }
    .pad-it {
        margin-bottom: 2px;
    }
    .indent-it {
        margin-left: 25px;
    }
    .story-creator-add-img {
        margin-top: 10px;
    }
    .encounter-description {
        font-style: italic;
        margin: 10px;
     }
     .base-input {
         width: 95%;
         margin-left: 10px;
     }
     .base-input.small {
         width: inherit;
     }
     .option-row { 
        margin: 40px 0;
    }
     .option-type-title {
        font-size: 22px;
        margin-top: 20px;
        padding: 0;
     }
     .option-type-title.inline {
         display: inline-block;
         margin-right: 10px;
     }
     .option-list {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-self: auto;
     }
     .option-list-item {
        border: 1px solid #ccc;
        box-shadow: 5px 5px 0 0 #020d0e;
        padding: 3px 10px;
        margin-bottom: 5px;
     }
    .sub-title.result-title {
        margin-top: 40px;
        margin-left: -20px;
        margin-right: -20px;
       
    }
    .preview-text {
        text-align: center;
    }
    .preview-image {
        width: 100%;
        height: auto;
    }
    small {
        color: $grey;
    }
    .description.invalid {
        border: 2px solid $btn-color;
        padding: 20px;
    }
    .created-options .option-row {
        margin: 20px 0;
    }
}
