.story {
	h2, h3, h4 {
        color: $black;
	}
	.page {
		padding-top:0;
	}
	
	.story-header {
		display: flex;
		justify-content: space-between;
		background-color: $prim-color;
		padding: 0px 20px;
		width: 100%;
		
		.story-title {
			color: $white;
			margin: 15px 0;
			
		}
		.story-author {

		}
	}
	.card {
		padding-top:0;
		padding-bottom: 40px;
		border-top: none;
		border-right: none;
		border-bottom: 10px solid $prim-color;
		border-left: none;
	}
	

	.encounter-title {
		text-align: center;
	}
	.encounter-description {

	}
	.encounter-image-container {
		position:relative;
		overflow: hidden;

		.encounter-image {
			display:block;
			margin: 0 auto;
			width: 80%;
			height: auto;
			max-height: 300px;

		}
	}

	/* OPTIONS STYLING */
	.options {
		
	}
	.option-0 {
		position: absolute;
		top: 0;
		left: 10%;
		height: 300px;
		width: 80%;

		.option-name {
			background-color: #777;
			padding:10px;
			position: absolute;
			top: 50%;
			left: -25px;
			height: 50px;
			text-align:center;
			font-size: 28px;
			box-shadow: 8px 15px 25px 0 #333;
			
		}
		.option-arrow {
			display:inline-block;
			height: 0;
			width: 0;
			border-left: 25px solid #777;
			border-top: 25px solid transparent;
			border-bottom: 25px solid transparent;
			position: absolute;
			top:0;
			right:-25px;
		}
		.option-arrow-tab {
			display:inline-block;
			height: 0;
			width: 0;
			border-left: 25px solid transparent;
			border-top: 25px solid #555;
			position: absolute;
			bottom:-25px;
			left:0px;
		}
		.option-description {

		}
		.btn {

		}
		.option-card {
			background-color: $white;
			padding: 20px;
			height: 200px;
			
			min-width: 300px;
			width: 100%;
			position: absolute;
			bottom: 0;
			text-align: center;
			
		}
		.option-card-peek {
			bottom: 200px;
		}
		
	}

	.option-1 {
		position: absolute;
		top: 0;
		right: 10%;
		
		height: 300px;


		.option-name {
			background-color: #777;
			padding:10px;
			position: relative;
			top: 50%;
			right: 25px;
			height: 50px;
			text-align:center;
			font-size: 28px;
			box-shadow: 8px 15px 25px 0 #333;
			
		}
		.option-arrow {
			display:inline-block;
			height: 0;
			width: 0;
			border-left: 25px solid #777;
			border-top: 25px solid transparent;
			border-bottom: 25px solid transparent;
			position: absolute;
			top:0;
			right:-25px;
		}
		.option-arrow-tab {
			display:inline-block;
			height: 0;
			width: 0;
			border-left: 25px solid transparent;
			border-top: 25px solid #555;
			position: absolute;
			bottom:-25px;
			left:0px;
		}
		.option-description {

		}
		.btn {

		}
	}



	.char-display-container {
		width: 100%;
		margin-top: 40px;
	}


    
}