.story {
	h2, h3, h4 {
        color:$black;
	}
	.page {
		padding-top:0;
	}
	
	.story-header {
		display: flex;
		justify-content: space-between;
		background-color: $prim-color;
		padding: 0px 20px;
		width: 100%;
		
		.story-title {
			color: $white;
			margin: 15px 0;
			
		}
		/*.story-author {

		}*/
	}
	.card {
		padding-top:0;
		padding-bottom: 40px;
		border-top: none;
		border-right: none;
		border-bottom: 10px solid $prim-color;
		border-left: none;
	}
	

	.encounter-title {
		text-align: center;
	}
	.encounter-description {

	}
	.encounter-image-container {
		position:relative;
		// overflow: hidden;
		padding-top: 50px;
		margin-left: 10%;
		margin-right: 10%;

		.encounter-image {
			display:block;
			margin: 0 auto;
			width: 100%;
			height: auto;
			max-height: 300px;

		}
	}

	/* OPTIONS STYLING */
	.options {
		
	}
	.option-0 {
		// position: absolute;
		// top: 50px;
		// left: 10%;
		// height: 300px;
		// width: 80%;

		.option-name {
			background-color: #777;
			padding:10px;
			position: absolute;
			z-index: 5;
			top: 50%;
			left: -25px;
			height: 50px;
			text-align:center;
			font-size: 28px;
			box-shadow: 8px 10px 25px 0 rgba(0, 0, 0, 0.3);
			margin: 0;
			border:0;
		}
		.option-name:hover {

		}
		.option-name:active {

		}
		.option-icon {
			width: 25px; 
			height: 25px;
			margin: 0 10px;
			position: relative;
			
		}
		.option-arrow {
			display:inline-block;
			height: 0;
			width: 0;
			border-left: 25px solid #777;
			border-top: 25px solid transparent;
			border-bottom: 25px solid transparent;
			position: absolute;
			top:0;
			right:-25px;
		}
		.option-arrow-tab {
			display:inline-block;
			height: 0;
			width: 0;
			border-left: 25px solid transparent;
			border-top: 25px solid #555;
			position: absolute;
			bottom:-25px;
			left:0px;
		}
		.option-arrow-tab2 {
			display: none;
		}
		/*.option-description {

		}*/
		.btn {
			z-index: 5;
		}
		.option-card {
			background-color: $white;
			padding: 0px;
			height: 0px;
			min-width: 300px;
			width: 100%;
			margin: 0;
			position: absolute;
			bottom: 0px;
			text-align: center;
			overflow: auto;
			transition: all 1s ease-out;
		}
		.option-card-peek-0 {
			bottom: 0px;
			padding: 20px;
			height: 150px; 
		}
		
	}

	.option-1 {
		// position: absolute;
		// top: 50px;
		// right: 10%;
		// height: 300px;
		// width: 80%;

		.option-name {
			background-color: #777;
			padding:10px;
			position: absolute;
			z-index: 5;
			top: 50%;
			right: -25px;
			height: 50px;
			text-align:center;
			font-size: 28px;
			box-shadow: -8px 10px 25px 0 rgba(0, 0, 0, 0.3);
			margin: 0;
			border: 0;
		}
		.option-icon {
			width: 25px; 
			height: 25px;
			margin: 0 10px;
			
		}
		.option-arrow {
			display:inline-block;
			height: 0;
			width: 0;
			border-right: 25px solid #777;
			border-top: 25px solid transparent;
			border-bottom: 25px solid transparent;
			position: absolute;
			top:0;
			left:-25px;
		}
		.option-arrow-tab {
			display:inline-block;
			height: 0;
			width: 0;
			border-right: 25px solid transparent;
			border-top: 25px solid #555;
			position: absolute;
			bottom:-25px;
			right:0px;
		}
		.option-arrow-tab2 {
			display: none;
		}
		/*.option-description {

		}*/
		.btn {
			z-index: 5;
		}
		.option-card {
			background-color: $white;
			padding: 0px;
			height: 0px;
			min-width: 300px;
			width: 100%;
			position: absolute;
			bottom: 0px;
			text-align: center;
			overflow: auto;
			-webkit-transition: all 1s ease-in;
			-moz-transition: all 1s ease-in;
			-o-transition: all 1s ease-in;
			transition: all 1s ease-in;
		}
		.option-card-peek-1 {
			bottom: 0px;
			padding: 20px;
			height: 150px;
		}
		
	}

	.option-2 {
		// position: absolute;
		// top: 50px;
		// left: 10%;
		// height: 300px;
		// width: 80%;

		.option-name {
			background-color: #777;
			padding: 10px;
			position: absolute;
			z-index: 5;
			top: 25px;
			left: 25%;
			height: 50px;
			width: 50%;
			text-align: center;
			font-size: 28px;
			box-shadow: 0px 10px 25px 0 rgba(0, 0, 0, 0.3);
			margin: 0;
			border: none;
		}
		.option-icon {
			width: 25px; 
			height: 25px;
			margin: 0 10px;
			
		}
		.option-arrow {
			display: none;
			height: 0;
			width: 0;
			border-left: 55px solid transparent;
			border-right: 55px solid transparent;
			border-top: 25px solid #777;
			position: absolute;
			bottom: -25px;
			left: 33%;
		}
		.option-arrow-tab {
			display: inline-block;
			height: 0;
			width: 0;
			border-right: 25px solid transparent;
			border-bottom: 25px solid #555;
			position: absolute;
			top:0px;
			right:-25px;
		}
		.option-arrow-tab2 {
			display: inline-block;
			height: 0;
			width: 0;
			border-left: 25px solid transparent;
			border-bottom: 25px solid #555;
			position: absolute;
			top:0px;
			left:-25px;
		}
		/*.option-description {

		}*/
		.btn {
			z-index: 5;
		}
		.option-card {
			background-color: $white;
			padding: 0px;
			height: 0px;
			min-width: 300px;
			width: 100%;
			position: absolute;
			bottom: 0px;
			text-align: center;
			overflow: auto;
			-webkit-transition: all 1s ease-out;
			-moz-transition: all 1s ease-out;
			-o-transition: all 1s ease-out;
			transition: all 1s ease-out;
		}
		.option-card-peek-2 {
			bottom: 0px;
			padding: 20px;
			height: 150px;
		}
		
	}
	.char-display-container {
		width: 100%;
		margin-top: 40px;
	}


    
}