.my-characters-list {
    width: 100%;

    .my-character-footer-menu {
        margin: 40px 0 20px 0;
        display: flex;
        justify-content: space-between;
    }
}

.tavern-char-container {
    margin: 15px 0;
    .tavern-char-row {
        display:flex;
        margin-bottom: 10px;
		// justify-content: space-between;
		
        .arrow-down {
            height: 0;
            width: 0;
            border-top: 15px solid transparent;
            border-left: 30px solid red;
            border-bottom: 15px solid transparent;
			display: inline-block;
			
		}
		.arrow-down {
            height: 0;
            width: 0;
            border-top: 15px solid transparent;
            border-left: 30px solid red;
            border-bottom: 15px solid transparent;
            display: inline-block;
        }
        .tavern-char-name-container {
            background-color: $row-color;
            padding: 3px 5px;
            width: 100%;
            height: 30px;
            box-shadow: 0 5px 0 0 $border-color;
            display: inline-block;
            .tavern-char-name {
                width: 100%;
                min-width: 150px;
                background-color: transparent;
                border: none;
                text-align: left;
                display: flex;
                justify-content: space-between;
                font-size: 18px;
                .life-icon {
                    width: 25px;
                    height: 25px;
                    margin-right: 10px;
                    
                }
                
            }
            .tavern-char-name:hover {
                color: $btn-color !important;
            }
            .tavern-char-name:active {
                color: $btn-press !important;
            }
        }
    }
    .class-btn-box {
        display: flex;
        align-items: flex-start;
        .class-icon {
            height: auto;
            width: 50px;
            margin-right: 10px;
        }
    }
}
.btn.play {
    margin: 0;
    width: 100px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 30px;
    // position: relative;
    // top: -5px;
}
.btn.play:active {
    // top: 0px;
}

.my-stories {
    width: 100%;
}

.dropdown {
    transition: .8s;
    height: 200px;
    overflow: hidden;
    // border-bottom: 5px solid $grey;
    
    width: calc(100% - 100px);
}

.dropup {
    transition: .8s;
    height: 0px;
    overflow: hidden;
    // border-bottom: 5px solid $grey;
    width: calc(100% - 100px);
}

.fadingpower {
    animation: fadingpower2 1s;
}

@keyframes fadingpower2 {
    0% {
        opacity: 0
    }
    50% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

.fadingpower3 {
    animation: fadingpower4 1s;
}


  .fadingpower3 {
	animation: fadingpower4 1s;
  }
  
  @keyframes fadingpower4 {
	0% {opacity: 1}
	50%{opacity: 0}
	100% {opacity: 0}
  }

	.my-stories-most-recent{
		margin-bottom: 15px;
	}

@keyframes fadingpower4 {
    0% {
        opacity: 1
    }
    50% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}

