.my-characters-list {
	width: 100%;
}
.tavern-char-container {

	margin: 15px 0;
	
	

	.tavern-char-row {
		// display:flex;
		// justify-content: space-between;
		.arrow-dropdown {
			height:0;
			width:0;
			border-top:15px solid transparent;
			border-left:30px solid red;
			border-bottom:15px solid transparent;
			display:inline-block;
			
		}

		.tavern-char-name-container {

			background-color: $row-color;
			padding: 3px 5px;
			width: 80%;
			height: 30px;
			box-shadow: 0 5px 0 0 $border-color;
			display:inline-block;

			.tavern-char-name {
				min-width: 150px;
				background-color: transparent;
				border: none;
				color: $btn-color;
				text-align: left;
			}

		}

		
		
	}
	
	
}

.down-arrow {
	color: $black;
}
.my-stories {
	width: 100%;
}
// Paul coded in a menu drop animation from here below
.slide{
	height: 0px;
	width: 100%;
	background: lightgrey;
	transition: .9s;
}
// this next part adjusts the height of the drop down menu
.open{
	height: 33px;
}


//   Paul finished coding in a menu drop animation
.example-enter {
	opacity: 0.01;
  }
  
  .example-enter.example-enter-active {
	opacity: 1;
	transition: opacity 2s ease-in;
  }
  
  .example-exit {
	opacity: 1;
  }
  
  .example-exit.example-exit-active {
	opacity: 0.01;
	transition: opacity 2s ease-in;
  }
